$main-color: #111c55;

$background-color: #f7f7f7;

$error-background: #fef2f2;
$error-message: #c92a2a;
$success-background: #ebfbee;
$success-message: #2b8a3e;
$warning-background: #fff9db;
$warning-message: #c67000;

$table-width: 122rem;
$form-width: 45rem;
$form-width-wide: 62.5rem;

// $footer-side-padding: 15rem;
$layout-width-desktop: 120rem;
$layout-width-laptop-large: 100rem;
$layout-width-laptop-medium: 85rem;
$layout-width-laptop-small: 75rem;
$layout-width-tablet-large: 60rem;
$layout-width-tablet-medium: 46rem;
$layout-width-tablet-small: 35rem;
$layout-width-mobile: 32rem;
